@import '../../../assets/styles/theme.scss';

@media screen and (min-width:0px) {

    .h1 {
        padding-bottom: 1.5rem;
        font-family: Outfit;
    }

    .mat-dialog-content {
        font-family: Outfit;
    }

    .mat-dialog-actions {
        .mat-stroked-button {
            font-size: small;
            font-family: Outfit;
        }
    }
}