<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">

            <mat-toolbar class="mat-toolbar">
                <mat-toolbar-row class="mat-toolbar-row mtr1">
                    <h1 class="h1">MES</h1>
                    <span class="spacer"></span>
                </mat-toolbar-row>
                <mat-toolbar-row class="mat-toolbar-row mtr2">
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-sidenav-container class="mat-sidenav-container">
                <mat-sidenav-content class="mat-sidenav-content">
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>

        </div>
    </div>
</div>