// THEME
$primary0: #000000;
$primary1: #001C38;
$primary2: #00315B;
$primary3: #003D6D;
$primary4: #004881;
$primary5: #005494;
$primary6: #0060A8;
$primary7: #2B79C7;
$primary8: #4C94E2;
$primary9: #6AAEFF;
$primary10: #A2C9FF;
$primary11: #D3E4FF;
$primary12: #EAF1FF;
$primary13: #F8F9FF;
$primary14: #FDFCFF;
$primary15: #FFFFFF;

$f7: #f7f7f7;
$lightBorder: #ddd;
$light-gray: #777;