<div class="container-fluid home">

    <div class="row r2">
        <div class="col-sm-8 r2c1">
            <mat-card class="mat-card">
                <h6 class="h6 title">Content(Image/Video)</h6>
            </mat-card>
        </div>
        <div class="col-sm-4 r2c2">
            <mat-card class="mat-card">
                <h6 class="h6 description">Description</h6>
            </mat-card>
        </div>
    </div>

    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <mat-card class="mat-card">
                <h6 class="h6 title">Character #</h6>
                <h6 class="h6 data">Text</h6>
            </mat-card>
            <mat-card class="mat-card">
                <h6 class="h6 title">Character Combo</h6>
                <h6 class="h6 data">Text</h6>
            </mat-card>
            <mat-card class="mat-card">
                <h6 class="h6 title">Station Name/Number</h6>
                <h6 class="h6 data">Text</h6>
            </mat-card>
        </div>
    </div>
</div>